<div class="container-info">
  <form [formGroup]="forgotForm" autocomplete="off" style="width: 100%">
      <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="{{config.email}}">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <div *ngIf="email.errors?.['required']">
              {{config.emailRequired}}
            </div>
            <div *ngIf="email.errors?.['email']">
              {{config.emailInvalid}}
            </div>                  
          </div>
        </div>
        <button type="submit" class="button" (click)="recoverPassword(forgotForm.value)" [disabled]="forgotForm.valid">
          {{config.buttonRemember}}
        </button>
  </form>
</div>
