<div class="container-home">
  <div class="container-login">
    <div class="title">Iniciar tu sesión Amore Pizza</div>
    <div class="container-img">
      <img src="assets/img/login.jpg" alt="logo appland" class="img" />
      <div class="container-info">
        <form [formGroup]="loginForm" autocomplete="off" style="width: 100%">
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" [placeholder]="config.enail">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.['required']">
                    {{config.emailRequired}}
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    {{config.emailInvalid}}
                  </div>                  
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password" [placeholder]="config.password">
                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                  <div *ngIf="pass.errors?.['required']">
                    {{config.passwordInvalid}}
                  </div>               
                </div>
                <a class="forgot-password-link" style="text-align: center;"><span (click)="open(content)"> ¿ Olvidaste tu contraseña ? </span></a>
              </div>
              <button type="submit" class="button" (click)="onLogin()" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </form>
        <a href="/register" class="forgot-password-link">¿ Eres Nuevo ?  <span >Crea una cuenta</span></a>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Recordar contraseña</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <div class="modal-body">
    <app-forgot-password (closeModal)="modal.close('Close button')"></app-forgot-password>
  </div>
</ng-template>

<!-- <app-toast [clasToast]="'bg-success text-light'" [message]="'test message'"></app-toast> -->